---
layout: none
---
[{
{% for post in site.posts %}
{% assign this_tag = 'API Evangelist' %}
{% assign match = 1 %}
{% for tag in post.tags %}
  {% if tag == this_tag  %}
    {% assign match = 0 %}
  {% endif %}
{% endfor %}
  {% if match == 1  %}
    {% unless post_title == '' %}
      "title": "{{ post.title }}",
      "post_date": "{{ post.date |  date: "%Y/%d/%m" }}",
      "body": "{{ post.content }}"{% if forloop.last != true %},{% endif %}
    {% endunless %}
  {% endif %}
{% endfor %}
}]
