---
layout: none
---
[{
{% for post in site.posts %}
  {% assign post_title = post.title | downcase %}
  {% assign post_abstract = post.abstract | downcase %}
  {% assign post_content = post.content | downcase %}
  {% if post.title contains 'api management' or post.title contains 'API management' or post.title contains 'API Management' or post.abstract contains 'api management' or post.abstract contains 'API management' or post.abstract contains 'API Management' or post.content contains 'api management' or post.content contains 'API management' or post.content contains 'API Management' %}
    {% unless post_title == '' %}
      "title": "{{ post.title }}",
      "publication_date": "{{ post.date |  date: "%Y/%d/%m" }}",
      "number": "{{ post.number }}",
      "url": "{{ post.url }}",
      "abstract": "{{ post.abstract }}",
      "owner": "{{ post.owner }}",
      "owner_city": "{{ post.owner_city }}",
      "owner_country": "{{ post.owner_country }}"{% if forloop.last != true %},{% endif %}
    {% endunless %}
  {% endif %}
{% endfor %}
}]
